language: php
sudo: false
php:
    - 5.6
    - 7.0
    - hhvm

before_script:
  - composer selfupdate --quiet
  - composer install --prefer-dist --no-interaction --no-progress

script:
  - ./vendor/bin/phpunit